name: "Check if merging from 'release' branch"

on:
  workflow_call:
    inputs:
      primary_branch:
        description: 'The name of the primary branch this workflow will run on.'
        required: false
        type: string
        default: 'main'

permissions:
  contents: read

jobs:
  protect-primary-branch:
    runs-on: ubuntu-latest

    # To prevent a merge on failure, branch protection must be enabled in GitHub. If branch
    # protection is disabled, this will fail with a red X but nothing prevents you from merging
    # anyway.
    steps:
      - name: Check merge branch
        if: ${{ github.event.pull_request.base.ref }} == ${{ inputs.primary_branch }}
        run: |
          if [ "${{ github.event.pull_request.head.ref }}" = "release" ]; then
            echo "Success: merging to '${{ github.event.pull_request.base.ref }}' from 'release' branch"
          else
            echo "Merging to '${{ inputs.primary_branch }}' is only allowed from the 'release' branch."
            exit 1
          fi
