name: "Semantic Versioning - Automatic"
description: "Automatically create a new semantic version string based on conventional commit messages. Add a tag and update version in specified files that have a consistent naming convention and location within projects."

on:
  workflow_call:
    inputs:
      release_branch:
        # Running this on the release branch is recommended. On repos that have few updates, running
        # this on main is fine.
        description: 'The name of the branch to examine when updating version.'
        required: false
        type: string
        default: 'main'
      package_json:
        description: 'Whether to update version in package.json.'
        required: false
        type: boolean
        default: true
      style_css:
        description: 'Whether to update version in style.css.'
        required: false
        type: boolean
        default: true
      wp_plugin_file:
        description: 'Whether to update version in the WordPress plugin PHP file (i.e. repo-name.php).'
        required: false
        type: boolean
        default: true
    outputs:
      new_version:
        description: "The calculated semantic version"
        value: ${{ jobs.versioning.outputs.new_version }}

# Write access to the repo is needed to commit and add a tag.
permissions:
  contents: write

jobs:
  versioning:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.use_version.outputs.NEW_VERSION }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Calculate version
        id: calculate-version
        uses: bitshifted/git-auto-semver@v2
        with:
          main_branch: ${{ inputs.release_branch }}
          create_tag: false # A tag will be created at the last step.
          tag_prefix: ""

      # Make VERSION_STRING available to other steps in this reusable workflow.
      - name: Use version
        id: use_version
        env:
          VERSION_STRING: ${{ steps.calculate-version.outputs.version-string }}
        run: |
          if [ -z "$VERSION_STRING" ]; then
            echo "Error: a version was not calculated."
            echo "Debugging:"
            echo "Listing last 5 tags:"
            git tag -n5
            echo "Last commit message:"
            git log -1 --pretty=%B
            exit 1
          else
            echo "Calculated version: $VERSION_STRING"
            echo "NEW_VERSION=$VERSION_STRING" >> $GITHUB_ENV
            echo "NEW_VERSION=$VERSION_STRING" >> $GITHUB_OUTPUT
          fi

      - name: Update package.json
        if: ${{ inputs.package_json }}
        run: |
          if [ -f package.json ]; then
            jq '.version = "${{env.NEW_VERSION}}"' package.json > package.json.tmp && mv package.json.tmp package.json
            echo "Updated package.json to ${{env.NEW_VERSION}}"
          else
            echo "package.json not found, skipping."
          fi

      - name: Update style.css version
        if: ${{ inputs.style_css }}
        run: |
          if [ -f style.css ]; then
            sed -i 's/ \* Version:.*/ * Version ${{env.NEW_VERSION}}/' style.css
            echo "Updated style.css to ${{env.NEW_VERSION}}"
          else
            echo "style.css not found, skipping."
          fi

      - name: Update WordPress plugin file version
        if: ${{ inputs.wp_plugin_file }}
        run: |
          filename="$(echo ${{ github.repository }} | cut -d'/' -f2).php"
          if [ ${{ inputs.wp_plugin_file }} ] && [ -f "${filename}" ]; then
            sed -i 's/ \* Version:.*/ * Version: ${{env.NEW_VERSION}}/' "${filename}"
            echo "Updated ${filename} to ${{ env.NEW_VERSION }}"
          else
            echo "Error: WordPress file '${filename}' defined in inputs but not found."
            exit 1
          fi

      - name: Commit version and create tag
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'chore: bump version to ${{env.NEW_VERSION}}'
          commit_options: '--no-verify' # Bypass pre-commit hooks.
          tag_name: '${{env.NEW_VERSION}}'
